.ready_button{
    -fx-margin: 0;
    -fx-padding: 0;

    -fx-background-color: darkgreen;
    -fx-border-width: 0;
    -fx-font-size: 28;
}
.ready_button:hover{
    -fx-background-color: green;
}
.ready_button:pressed{
    -fx-background-color: black;
}
.ready_button:disabled{
    -fx-background-color: #003300;
    -fx-text-fill: lightgrey;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-size: 14;
    -fx-opacity: 1;
}

.wave_info_text{
    -fx-font-size: 10;
}

.title_text{
    -fx-font-family: Broadway;
    -fx-font-size: 50;
    -fx-fill: lightgreen;
    -fx-text-alignment: center;
}
.menu_button{
}
